{% extends 'hoindex.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive</title>
</head>
<body>
    {% block content %}
    <div><h1 class="hoh1">Get in the driver's seat and get paid</h1></div>

    <div><p class="drp">Drive on the platform with the largest network of active riders.</p></div><br><br>  

    <div>
        <div class="dr"><a href="/su"><button id="drs">Sign up to drive</button></a></div>
        <div class="dr"><a href=""><button id="drl">Learn more about driving and delivering</button></a></div>
    </div><br><br>
            
    <div id="img"><img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1007,h_566/v1653688498/assets/2c/3833ca-a2eb-4da4-9879-51193ea88f87/original/DotCom_Update_Earner_bg_med2x.jpg"
        alt=""></div>

    {% endblock %}
</body>
</html>