{% extends 'hoindex.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div><h1 class="hoh1">Make money by renting your car</h1></div>

    <div><p class="drp">Connect with thousands of drivers and earn more per week with Uber's free fleet management tools.</p></div><br><br>

    <div>
        <div class="dr"><a href=""><button id="drs">Get started</button></a></div>
    </div><br><br>

    <div id="img"><img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1007,h_566/v1677102595/assets/66/2853af-061f-4176-8c6b-f2ddef091599/original/UberIM_002309-%281%29.jpg"
        alt=""></div>
    {% endblock %}
</body>
</html>