{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="ub"><h1>Uber</h1></div><hr>

    <div class="rwu">
        <div class="pr">
            <h1>Ride With Us</h1>
            <div>
                <a href="/su"><button id="su">SignUp</button></a>
                <a href="/si"><button id="si">SignIn</button></a>
            </div>
        </div>
    </div>
</body>
</html>